body {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/Beach_stones_and_sand.JPG");
}

table {
  margin-left: auto;
  margin-right:auto;
  background: url("../images/watertile.jpg");
}

td {
  color: yellow;
  border: 2px solid darkblue;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 48px;
}

tr:nth-child(odd) td:nth-child(even) {
  background: url("../images/flippedwatertile.jpg");
}

tr:nth-child(even) td:nth-child(odd) {
  background: url("../images/flippedwatertile.jpg");
}

input, button {
  font-size: 18px;
  width: 200px;
  color: red;
  text-align: center;
}

.scoreboard {
  color: Darkblue;
  border: 2px solid darkblue;
  position: absolute;
  top: 0;
  right: 12%;
}

#home {
  border: 2px solid darkblue;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 10%;
  padding: .5em;
  font-size: 25px;
  color: darkblue;
}

ul {
  list-style: none;
}
